/target
/project/target/
/.idea
/project/project/target/config-classes/
/general/src/test/resources/writeFileDirectory/desiredFile.txt
/out
/build

scala-save.i??

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Avoid ignore Gradle wrappper properties
!gradle-wrapper.properties
/**/*.iml

/general/build
/.gradle
/interview/build
/tutorial/build/
.DS_Store
general/.DS_Store

